DEEPSEEK_API_KEY=""
TELEGRAM_TOKEN=""
TELEGRAM_CHAT_ID=""

# Opcional (para ejecución programada)
RUN_TZ="Europe/Madrid"
RUN_START_HOUR="8"
RUN_END_HOUR="21"
MAX_DRAFTS="12"
REAL_DRAFTS="9"
BARCA_DRAFTS="3"
SEND_EMPTY_MESSAGE="0"

MAX_NEWS_AGE_DAYS="5"
ALLOW_UNDATED_NEWS="1"
ALLOW_STALE_NEWS="0"
ONLY_TODAY="1"
RSS_TIMEOUT_SECS="20"
RSS_MAX_ITEMS_PER_FEED="25"
SUMMARY_MAX_CHARS="140"
TWEET_MAX_CHARS="80"
X_INTENT_MAX_CHARS="280"
